/* INITIAL STYLES */

.attribution {
  font-size: 11px;
  text-align: center;

  background-color: var(--clr-nvdb);
  padding: var(--24ws) 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* INITIAL STYLES */

/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  /* # SPACE SYSTEM */
  /* ## TYPOGRAPHY - FONT SIZES */
  --10px: calc(10rem / 16);
  --12px: calc(12rem / 16);
  --14px: calc(14rem / 16);
  --16px: calc(16rem / 16);
  --18px: calc(18rem / 16);
  --20px: calc(20rem / 16);
  --24px: calc(24rem / 16);
  --36px: calc(36rem / 16);
  --44px: calc(44rem / 16);
  --52px: calc(52rem / 16);
  --62px: calc(62rem / 16);
  --74px: calc(74rem / 16);
  --86px: calc(86rem / 16);
  --98px: calc(98rem / 16);

  /* ## WHITESPACE */
  --2ws: calc(2rem / 16);
  --4ws: calc(4rem / 16);
  --8ws: calc(8rem / 16);
  --12ws: calc(12rem / 16);
  --16ws: calc(16rem / 16);
  --24ws: calc(24rem / 16);
  --32ws: calc(32rem / 16);
  --48ws: calc(48rem / 16);
  --64ws: calc(64rem / 16);
  --80ws: calc(80rem / 16);
  --96ws: calc(96rem / 16);
  --128ws: calc(128rem / 16);

  /* # COLORS */
  /* ### Primary */
  /* - Blue:  */
  --clr-pb: hsl(246, 80%, 60%);
  /* - Light red (work):  */
  --clr-plrw: hsl(15, 100%, 70%);
  /* - Soft blue (play):  */
  --clr-psb: hsl(195, 74%, 62%);
  /* - Light red (study): */
  --clr-plr: hsl(348, 100%, 68%);
  /* - Lime green (exercise):  */
  --clr-plg: hsl(145, 58%, 55%);
  /* - Violet (social):  */
  --clr-pv: hsl(264, 64%, 52%);
  /* - Soft orange (self care):  */
  --clr-pso: hsl(43, 84%, 65%);
  /* ### Neutral */
  /* - Very dark blue:  */
  --clr-nvdb: hsl(226, 43%, 10%);
  /* - Dark blue:  */
  --clr-ndb: hsl(235, 46%, 20%);
  /* - Desaturated blue:  */
  --clr-ndsb: hsl(235, 45%, 61%);
  /* - Pale Blue:  */
  --clr-npb: hsl(236, 100%, 87%);
}

body {
  font-family: "Rubik", sans-serif;
  font-size: var(--18px);
  font-weight: 400;
  line-height: 1;
  background-color: #000;
  color: var(--clr-npb);
}

/* GET THIS FROM STACKOVERFLOW - CHANGE SCROLLBAR COLOR */
/* LINK: https://stackoverflow.com/questions/12293275/how-to-change-the-scrollbar-color-using-css */
body::-webkit-scrollbar {
  width: 15px;
}

/* Track */
body::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: var(--clr-ndb);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* GLOBAL */

/* STYLES */

.container {
  background-color: var(--clr-nvdb);
  min-width: calc(375rem / 16);
  max-width: calc(1440rem / 16);
  margin: auto;
}

.cards {
  margin: 0 var(--24ws);
  padding: var(--64ws) 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--24ws);
}

.main-card {
  background-color: var(--clr-ndb);
  border-radius: var(--12ws);
  overflow: hidden;
}

.card-options {
  display: flex;
  justify-content: space-between;
  padding: var(--24ws);
}

.card-header {
  background-color: var(--clr-pb);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--24ws);

  padding: var(--32ws);

  border-radius: var(--12ws);
}

.card-info p {
  font-size: var(--16px);
  margin-bottom: var(--8ws);
}

.card-name {
  font-size: var(--24px);
  font-weight: 300;
  color: #fff;
}

.card-photo {
  box-shadow: 0 0 0 var(--2ws) #fff;
  border-radius: 50%;
}

.card-option:link,
.card-option:visited {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--clr-npb);

  transition: color 0.5s;
}

.card-option:hover {
  color: #fff;
}

.card-option.active {
  color: #fff;
}

.card {
  border-radius: 50px;
  background-repeat: no-repeat;
  border-radius: var(--12ws);

  height: calc(165rem / 16);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  cursor: pointer;
}

.card[data-img="work"] {
  background-color: var(--clr-plrw);
  background-image: url("./images/icon-work.svg");
  background-position: 90% -15%;
}
.card[data-img="play"] {
  background-color: var(--clr-psb);
  background-image: url("./images/icon-play.svg");
  background-position: 90% -15%;
}
.card[data-img="study"] {
  background-color: var(--clr-plr);
  background-image: url("./images/icon-study.svg");
  background-position: 90% -15%;
}
.card[data-img="exercise"] {
  background-color: var(--clr-plg);
  background-image: url("./images/icon-exercise.svg");
  background-position: 90% 0;
}
.card[data-img="social"] {
  background-color: var(--clr-pv);
  background-image: url("./images/icon-social.svg");
  background-position: 90% -15%;
}
.card[data-img="self-care"] {
  background-color: var(--clr-pso);
  background-image: url("./images/icon-self-care.svg");
  background-position: 90% -15%;
}

.card::after {
  content: "";
  background-color: inherit;
  background-image: inherit;
  background-repeat: inherit;
  background-position: 90% 45%;
  position: absolute;
  width: 100%;
  height: 25%;
  top: 0;
  opacity: 0;
  border-radius: var(--12ws);
  visibility: hidden;
  pointer-events: none;

  /* SET TRANSITION IF PREFERS */
  /* transition: all 0.2s; */
}

.card:hover::after {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--12ws);

  background-color: var(--clr-ndb);
  padding: var(--32ws);
  border-radius: var(--12ws);

  transition: filter 0.5s;
}

.content:hover,
.content:active {
  filter: brightness(150%) saturate(80%);
}

.card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-item .title,
.card-item .time {
  color: #fff;
  font-weight: 300;
}

.card-item .title {
  font-size: var(--18px);
  font-weight: 500;
}

.card-item .description {
  font-size: var(--16px);
}

.dots {
  width: var(--24ws);
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.dot {
  background-color: var(--clr-npb);
  border-radius: 50%;
  padding: var(--2ws);

  display: flex;
  justify-content: center;
  align-items: center;
}

.dot::before {
  content: "";
  background-color: var(--clr-npb);
  border-radius: 50%;
  padding: var(--2ws);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dot::after {
  content: "";
  background-color: var(--clr-npb);
  border-radius: 50%;
  padding: var(--2ws);

  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
}

/* STYLES */

@media (min-width: calc(472em / 16)) {
  .card-options {
    padding: var(--12ws);
  }

  .card-option:link,
  .card-option:active {
    font-size: var(--14px);
  }

  .card {
    height: calc(139rem / 16);
  }

  .content {
    padding: var(--32ws) var(--12ws);
    gap: var();
    width: 100%;
  }
  .card-info p {
    font-size: var(--10px);
  }

  .card-item .description,
  .card-item .time {
    font-size: var(--10px);
  }
}

@media (min-width: calc(696em / 16)) {
  .main-card {
    grid-row: 1 / span 2;
  }

  .card-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .card-options {
    flex-direction: column;
    gap: var(--24ws);
    padding: var(--24ws);
    margin-top: 10%;
  }

  .card-name {
    margin-bottom: var(--32ws);
    line-height: 1.5;
  }

  .card {
    height: calc(210rem / 16);
  }

  .content {
    padding: var(--32ws);
    gap: var(--32ws);
  }

  .card-item:last-child {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: var(--12ws);
  }

  .card-item .time {
    font-size: var(--36px);
  }
  .card-item .description {
    font-size: var(--12px);
  }
}

@media (min-width: calc(696em / 16)) {
  body {
    position: relative;
  }

  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .attribution {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}

@media (min-width: calc(1144em / 16)) {
  .cards {
    margin: 0 17%;
  }
}
